 <li class="list--item">
        <h2 class="name--day">{{name}}</h2>
        <p class="date-yarik">{{date}}</p>
        <div class="icon--overley">
          <img src={{icon}} class="icon--weather"/>
        </div>
        <div class="temp">
          <p class="min-temp">min <br> <span class="num">{{min}}</span> </p>
          <div class="line"></div>
          <p class="max-temp">max <br> <span class="num">{{max}}</span></p>
        </div>
</li>