<li class="modal-item">
          <p class="time">
            {{dayTime}}
          </p>
          <div class="overlay-icon">
            <img src={{icon}} class="icon-modal"/>
          </div>
          <p class="num">{{temp}}</p>
          <ul class="bonus">
            <li class="bonus-item">
              <p class="text first">{{pressure}}mm</p>
            </li>
            <li class="bonus-item">
              <p class="text second">{{humidity}}%</p>
            </li>
            <li class="bonus-item">
              <p class="text third">{{wspeed}}m/s</p>
            </li>
          </ul>
        </li>